extends layout.pug

block content
  #main
    canvas#c
  #details
    section
      h3 Grid
      +number("pResolution", "Min. Resolution", .05, .01)
      +number("pWendlandRadius", "Wendland Radius", 1.1, .05)
      +checkbox("pClamp", "Clamp to Grid extents", true)
      +checkbox("pBuildGrid", "Generate Grid", true)
      +checkbox("pBuildSurface", "Generate Surface", false)
      +checkbox("pBuildSurfaceMesh", "Generate Surface Mesh", false)
      h3 Subdivisions
      +number("pSubdivisions", "Subdivisions", 1, 1)
      +radio("subdivideWith", "Polynomials", true)
      +radio("subdivideWith", "DeCasteljau")
      h3 Visualizations
      +checkbox("pVisualizePointCloud", "Draw Point Cloud", true)
      +checkbox("pVisualizeTree", "Draw Tree", false)
      +checkbox("pVisualizeGrid", "Draw Grid", true)
      +checkbox("pVisualizeSurface", "Draw Surface", true)
      +checkbox("pVisualizeSurfaceMesh", "Draw Surface Mesh", true)
    section
      h3 Query for WLS
      +radio("query", "Radius")
        +number("pRadius", "", .333, .1)
      +radio("query", "KNearest", true)
        +number("pKNearest", "", 10, 1)
    section
      h3 Load
      +file("load", "Load Model")
      +button("load", "franke4", "attachment")
      +button("load", "franke5", "attachment")