extends layout.pug

block content
  #main
    canvas#c
  #details
    section
      h3 Grid
      +number("pResolution", "Min. Resolution", .05, .01)
      +number("pRadius", "Wendland Radius", 1.25, .05)
      +number("pSubdivisions", "Subdivisions", 1, 1)
    section
      h3 Load
      +file("load", "Load Model")
      +button("load", "franke4", "attachment")
      +button("load", "franke5", "attachment")