html
  head
    link(href="frontend/main.css", rel="stylesheet")
    script(src="node_modules/babylonjs/babylon.js")
    script(src="frontend/built/engine.js")
    script(src="frontend/built/loaders.js")
  body
    h1 Sup
    canvas#c